<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>供应商-树</title>
<link rel="stylesheet" href="/resources/zTree/css/metroStyle/metroStyle.css" type="text/css">
<script type="text/javascript" src="/resources/zTree/js/jquery-1.4.4.min.js"></script>
<script type="text/javascript" src="/resources/zTree/js/jquery.ztree.core.js"></script>
</head>
<body>
<div id="treeProviders" class="ztree"></div>
</body>
<script type="text/javascript">
function zTreeOnClick(event, treeId, treeNode) {
	window.parent.main.reloadTable(treeNode.id);
};
var setting = {
		data: {
			simpleData: {
				enable: true
			}
		},
		callback: {
			onClick: zTreeOnClick
		}
};
function initProviderTree(){
	$.post("/provider/loadProviderLeftTreeJson",function(zNodes){
		$.fn.zTree.init($("#treeProviders"), setting, zNodes);
	});
}
initProviderTree();
</script>
</html>